

    <div class="jumbotron">
        <h1 class="display-4">Danh sách người dùng</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="card">
              <div class="card-header no-bg b-a-0">Dữ liệu người dùng</div>
              <div class="card-block">
                <p>
                  Add
                  <code>
                    .table-hover
                  </code>
                  to enable a hover state on table rows within a
                  <code>
                    &lt;tbody&gt;
                  </code>
                  .
                </p>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>
                          #
                        </th>
                        <th>id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Authority</th>
                        <th>Delete</th>
                        <th>Update</th>
                      </tr>
                    </thead>
                    <tbody>
                            <!-- Khối hiển thị -->
                          <tr ng-repeat="aUser in users" ng-init="aUser.displayUserDemo2=false; count=0"> 
                            <th scope="row" >{{$index+1}}</th>
                            <td>{{aUser.idLogin}}</td>
                            <td>
                                <div ng-hide="aUser.displayUserDemo2">{{aUser.nameLogin}}</div>     <!-- Phần hiển thị -->
                                <div ng-show="aUser.displayUserDemo2">                              <!-- phần chỉnh sửa -->
                                    <input type="text" class="form-control form-control-sm" ng-model="aUser.nameLogin">
                                </div>
                            </td>
                            <td>
                                <div ng-hide="aUser.displayUserDemo2">{{aUser.emailLogin}}</div>
                                <div ng-show="aUser.displayUserDemo2">
                                    <input type="text" class="form-control form-control-sm" ng-model="aUser.emailLogin">
                                </div>
                            </td>
                            <td>{{aUser.dateCreate}}</td>
                            <td>
                                <div ng-hide="aUser.displayUserDemo2">{{aUser.adminLogin}}</div>
                                <div ng-show="aUser.displayUserDemo2">
                                    <input type="text" class="form-control form-control-sm" ng-model="aUser.adminLogin">
                                </div>
                            </td>
                            <td>
                                <div ng-hide="aUser.displayUserDemo2">{{aUser.isDeleteLogin}}</div>
                                <div ng-show="aUser.displayUserDemo2">
                                    <input type="text" class="form-control form-control-sm" ng-model="aUser.isDeleteLogin">
                                </div>
                            </td>
                            <td>
                                <div ng-hide="aUser.displayUserDemo2">  <!-- phần hiển thị -->
                                    <button class="btn btn-outline-warning" style="border: white;" ng-click="changeDisplayUserDemo2(aUser)">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>
                                </div>
                                <div ng-show="aUser.displayUserDemo2">  <!-- phần chỉnh sửa -->
                                    <button class="btn btn-outline-success m-r-2" style="border:white;" ng-click="saveChangeDataUserDemo2(aUser)">
                                        <i class="fas fa-check"></i>
                                    </button>
                                    <button class="btn btn-outline-secondary" style="border: white;"  ng-click="changeDisplayUserDemo2(aUser)">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </td>
                          </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>