<div class="card col-sm-8 push-sm-2 p-t-2 p-b-2 ">
  <div class="text-xs-center m-b-3">
      <img src="images/logo-icon.png" height="80" alt="" class="m-b-1">
      <h5>
        Register now!
      </h5>
      <p class="text-muted">
        Create an app id to continue.
      </p>
  </div>
  <div class="card-block">
  	<form action="">
	    <div class="form-group row">
	      <label for="example-text-input" class="col-xs-2 col-form-label">Name</label>
	      <div class="col-xs-10">
	        <input class="form-control" type="text" placeholder="Artisanal kale" id="example-text-input" ng-model="usernameDemo2">
	      </div>
	    </div>
	    <div class="form-group row">
	      <label for="example-email-input" class="col-xs-2 col-form-label">Email</label>
	      <div class="col-xs-10">
	        <input class="form-control" type="email" placeholder="bootstrap@example.com" id="example-email-input" ng-model="emailDemo2">
	      </div>
	    </div>
	    <div class="form-group row">
	      <label for="example-password-input" class="col-xs-2 col-form-label">Password</label>
	      <div class="col-xs-10">
	        <input class="form-control" type="password" id="example-password-input" ng-model="passwordDemo2">
	      </div>
	    </div>
      	<div class="checkbox text-center">
	        <label>
	          <input type="checkbox">
	          Check me out
	        </label>
      	</div>
      	<div class="text-center">
	      	<button type="button" class="btn btn-primary" ng-click="insertUserDemo2()">
	        	Submit
	      	</button>
      	</div>
    </form>
  </div>
</div>