/*XỬ LÝ MENU ĐA CẤP*/
.menuLevels >ul > li {
    float: left;
    position: relative;
    list-style: none;
    margin: 0 15px;
}

.menuLevels >ul > li > ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: 0.4s;
    top: 24px;
    width: 200px;
    background: green;
    z-index: 4;
    list-style: none;
}

.menuLevels >ul > li > ul a {
    color: wheat;
    display: block;
    padding: 5px;
}

.menuLevels >ul > li:hover > ul {visibility: visible;opacity: 1;}

.menuLevels >ul > li > ul > li {
    position: relative;
}

.menuLevels >ul > li > ul > li > ul {
    position: absolute;
    left: 230px;
    list-style: none;
    background: lightblue;
    width: 200px;
    top: 0;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
}

.menuLevels >ul > li > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
    left: 200px;
}




/* demo 6 */
.bannerDemo6{
    position: relative;
    overflow: hidden;
}
.bannerDemo6 .jumbotronDemo6 {
    position: absolute;
    top: 35%;
    left: 0;
    z-index: 1;
}

.bannerDemo6 nav.navbar.navbar-expand-lg.navbar-dark.bg-inverse {
    background: #000000d4!important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    font-weight: bold;
    transform: translateY(-50px);
}






.backgroundMenuDemo6#navbarContentDemo6 a.navbar-brand .row .col-sm-8 {
    text-align: center;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 15px 0px 15px 0px;
    border-radius: 1px 1px 10px 10px;
    font-family: cursive;
    font-weight: bold;
}
.bannerDemo6 nav.navbar .container-fluid .row .col-12 button.navbar-toggler.ml-auto{
    border: none;
    background: transparent;
    color: black;
    background: white;
}

.bannerDemo6 nav.navbar .container-fluid .row .col-12 .backgroundMenuDemo6 a.navbar-brand{
    width: 100%;
    opacity: 1;
    visibility: visible;
}
.bannerDemo6 nav.navbar .container-fluid .row .col-12 .backgroundMenuDemo6 a.navbar-brand .row .col-sm-8 {
    padding: 0px 0px 0px 0px;
    margin: 0 0px 15px 0px;
    border-radius: 40px;
}

.backgroundMenuDemo6#navbarContentDemo6 .col-lg-8.text-center ul li.dropdown {
    position: relative;
}

.backgroundMenuDemo6#navbarContentDemo6 .col-lg-8.text-center ul li.dropdown .dropdown-menu {
    position: absolute;
    left: 46%;
}


.backgroundMenuDemo6 .col-lg-8.col-sm-8.text-center ul li a {
    font-size: 16px;
    text-transform: uppercase;
    font-family: fantasy;
    transition: .4s;
}
.backgroundMenuDemo6 .col-lg-8.col-sm-8.text-center ul li.active a {
    color: orange;
}
.backgroundMenuDemo6 .col-lg-8.col-sm-8.text-center ul li a:hover {
    background: #d9534f;
    border-radius: 0px 0px 10px 10px;
}

.backgroundMenuDemo6 .col-lg-8.col-sm-8.text-center ul li a.btn{
    border-color: white;
}
.backgroundMenuDemo6 .col-lg-8.col-sm-8.text-center ul li a.btn:hover{
    color: white;
    border-color: #d9534f;
}



.bannerDemo6 nav .backgroundMenuDemo6 ul li .dropdown-menu.ml-3 a {
    background: #000000d4;
    color: white;
}
.bannerDemo6 nav .backgroundMenuDemo6 ul li .dropdown-menu.ml-3 a:hover {
    color: black;
    background: white;
}
.backgroundMenuDemo6 .col-lg-8.col-sm-8.text-center {
    position: relative;
}


nav .backgroundMenuDemo6 ul li a.btn{
    font-size: 1px;
}


nav .backgroundMenuDemo6 ul li a.btn i.fas{
    transform: scale(15) translateY(-0.16px);
}

nav .backgroundMenuDemo6 ul li a.btn.btnDeleteCategoryByAjax div, nav .backgroundMenuDemo6 ul li a.btn.btnUpdateCategoryByAjaxOpenning div{
    transform: scale(15) translate(-0.3px, 0.3px);
}


nav .backgroundMenuDemo6 ul li a.btn.btnDeleteCategoryByAjax i.fas, nav .backgroundMenuDemo6 ul li a.btn.btnUpdateCategoryByAjaxOpenning i.fas {
    transform: scale(8.5) translate(1.5px, -0.16px);
}
nav .backgroundMenuDemo6 ul li .row  input.form-control  {
    height: 30px;
    width: 80px;
}

nav .backgroundMenuDemo6 ul li .row  div.btn.btn-primary  {
    height: 37px;
    width: 70px;
    font-size: 12px;
}


.bannerDemo6 .container-fluid .row .col-sm-10.text-center .container .row.text-center .col-3 img.ml-1.mb-0 {
    transform: scale(1);padding: 0 0 0 0;width: 50%;display: flex;text-align: center;align-items: center;justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.bannerDemo6 .container-fluid .row .col-sm-10.text-center .container .row.text-center .col-4.btn-danger {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1px 1px 10px 10px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    font-size: 25px;
    margin: 3px 0px 0 0px;
    font-family: cursive;
    font-weight: bold;
}

@media (max-width:992px){
    *{

    }
    .bannerDemo6 .jumbotronDemo6 {
        top: 10%;
    }

    .backgroundMenuDemo6 ul.nav.navbar-nav.float-sm-right.text-center {
        position: absolute;
        top: 0;
        transform: translateX(50%);
        width: 100%;
        left: -20%;
    }


    .backgroundMenuDemo6#navbarContentDemo6 a.navbar-brand .row .col-sm-8{
        padding: 10px 70px 10px 70px;
    }
    .backgroundMenuDemo6 .col-lg-8.col-sm-8.text-center{
        width: 100%;
        height: 220px;      
    }

    .backgroundMenuDemo6 .col-lg-8.col-sm-8.text-center ul li a {font-size: 20px;}

    
    .bannerDemo6 .container-fluid .row .col-sm-10.text-center .container .row.text-center .col-3 img.ml-1.mb-0 {
        opacity: 1;
        visibility: visible;
        transform: scale(1.5) translateY(8px);
    }

    .bannerDemo6 .container-fluid .row .col-sm-10.text-center .container .row.text-center .col-4.btn-danger {
        opacity: 1;
        visibility: visible;
    }

    .bannerDemo6 nav.navbar .container-fluid .row .col-12 .backgroundMenuDemo6 a.navbar-brand{
        opacity: 0;
        visibility: hidden;
    }

    .bannerDemo6 nav.navbar.navbar-expand-lg.navbar-dark.bg-inverse{
        transform: translateY(0px);
        z-index: 2;
    }

} 
@media (max-width:576px){
    *{

    }
    .backgroundMenuDemo6 ul.nav.navbar-nav.float-sm-right.text-center {
        transform: translateX(50%);
        left: -39%;
    }

    .bannerDemo6 .container-fluid .row .col-sm-10.text-center{
        margin-top: 10px
    }
    .bannerDemo6 .container-fluid .row .col-sm-10.text-center .container .row.text-center a.col-3 {
        padding: 0;
    }
    .bannerDemo6 .container-fluid .row .col-sm-10.text-center .container .row.text-center .col-4.btn-danger{
        font-size: 13px;
        padding: 5px 1px 5px 1px;
        border-radius: 2px;
    }
    .bannerDemo6 .jumbotronDemo6 {
        top: -2%;
    }
    .bannerDemo6 .jumbotronDemo6.text-center{
        transform: translateY(20px);
    }
    .bannerDemo6 .jumbotronDemo6.text-center h3 {
        font-size: 21px;
    }
    .bannerDemo6 .jumbotronDemo6.text-center p.lead.pb-md-4.mt-md-3.mt-1 {
        font-size: 8px!important;
        margin-top: 2%!important;
    }
    .bannerDemo6 .jumbotronDemo6.text-center p.lead.mt-md-4.pb-md-4.mt-1 a.btn {
        font-size: 8px;
        padding: 2px 6px 2px 5px;
    }
    .bannerDemo6 .jumbotronDemo6.text-center p.lead.mt-md-4.pb-md-4.mt-1 {
        margin: 0!important;
    }
    .bannerDemo6 .jumbotronDemo6.text-center p.mt-sm-3.mt-md-2.mt-1.mb-0 {
        margin: 0!important;
        font-size: 8px;
        font-weight: bold;              
    }


    .bannerDemo6 nav.navbar .container-fluid .row .col-12 div#navbarContentDemo6 {
        padding-right: 10%;
    }
    .bannerDemo6 nav.navbar .container-fluid .row .col-12 .backgroundMenuDemo6 a.navbar-brand .row {
        width: 30%;
        padding: 0;
        margin: 0;
    }
    .bannerDemo6 nav.navbar .container-fluid .row .col-12 .backgroundMenuDemo6 a.navbar-brand{
        width: 30%;
        opacity: 0;
        visibility: hidden;
    }
    .bannerDemo6 nav.navbar .container-fluid .row .col-12 .backgroundMenuDemo6 a.navbar-brand .row .col-sm-8 {
        width: 100%;
        padding: 10px 65px 10px 65px;
        margin: 0px 0 0 -50px;
        transform: translateX(52px) translateY(33px);
    }
    .bannerDemo6 nav.navbar .container-fluid .row .col-12 .backgroundMenuDemo6 a.navbar-brand .row .col-sm-4 {
        transform: scale(4.5) translateY(7px) translateX(3px);
    }

    .bannerDemo6 nav .backgroundMenuDemo6 ul li .dropdown-menu.ml-3 {
        transform: translateX(-80px) translateY(-15px)
    }

    .backgroundMenuDemo6#navbarContentDemo6 a.navbar-brand .row .col-sm-8{
        margin: 35px 0 0 -60px;
        padding: 10px 56px 10px 55px;
        /* border-radius: 5px; */
    }




    .bannerDemo6 nav.navbar.navbar-expand-lg.navbar-dark.bg-inverse {
        font-weight: normal;   
        transform: translateY(-5px);
        z-index: 2;
    }
    .backgroundMenuDemo6 .col-lg-8.col-sm-8.text-center ul li a {
        font-size: 14px!important;
        font-size: 30px;
    }

    .backgroundMenuDemo6 .col-lg-8.col-sm-8.text-center{
        width: 100%;
        height: 170px;      
    }
} 




/* xử lý phần nội dung demo 6 */
.noidungDemo6 .row .col-sm-8.push-sm-1, .noidungDemo6 .row .col-sm-7 {display: flex;text-align: center;align-items: center;justify-content: center;}
#myCarouselDemo7 .carousel-inner .carousel-item img{
    width: 20%; height: auto;
    border-radius: 50%;
}
#myCarouselDemo7.carousel.slide {
    background: rgba(128, 128, 128, 0.123);
    padding-bottom: 45px;
}

#myCarouselDemo7 ol.carousel-indicators li {
    background: gray;
}

#myCarouselDemo7 ol.carousel-indicators li.active {
    background: orangered;
}

#myCarouselDemo7 .carousel-inner .carousel-item .col-sm-9 blockquote.blockquote{

}

/* xử lý nút pre and next */
.bannerDemo6 #myCarouselDemo6 a.carousel-control-prev{
    background-image: -webkit-linear-gradient(0deg, black 0%, gray 40%, #ffffff00 100%);
}
.bannerDemo6 #myCarouselDemo6 a.carousel-control-next{
    background-image: -webkit-linear-gradient(180deg, black 0%, gray 40%, #ffffff00 100%);
}
.bannerDemo6 #myCarouselDemo6 a span.carousel-control-next-icon, .bannerDemo6 #myCarouselDemo6 a span.carousel-control-prev-icon{
    transform: scale(2.5);
}

/* xử lý phần dịch vụ */
.serviceDemo6 .container-fluid{
    background: #6b6b6b;
}
.serviceDemo6 .col-xs-12.text-center h3 {
    background: black;
    color: #fff600;
    font-size: 15px;
    width: 360px;
    padding: 18px 20px;
    margin: auto;
    border-radius: 5px;
    /* transform: translateY(-10px); */
}
.serviceDemo6 .col-sm-12.text-center {
    overflow: hidden;
}
.serviceDemo6 .col-sm-3 .col-10.mt-0.ml-0.mr-0.mb-0.pl-0.pr-0.pb-0 h4 {
    color: #fff600;
    font-size: 15px;
    margin-bottom: 20px;
    display: block;
    margin-top: 10px;
}
.serviceDemo6 .col-sm-3 .row p {
    color: #e6e6e6;
    font-size: 12px;
    line-height: 24px;
    font-family: sans-serif;
}










/*PHẦN PHÂN TRANG*/

.controlPages ul {
    display: inline;
}

.controlPages ul li{
    display: inline-block;
    border: 1px solid white;
    /*text-indent: -9999px;*/
    margin: 20px 10px;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    padding: 0 15px;
}
.controlPages ul li.controlPage {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
}

.controlPages ul li:hover, .controlPages .runningAcivePage {
    background: darkgrey;
}


















/*<!-- ============================== ANGULAR JS ================================ -->*/
h5.blue{
    background: lightblue;
}
h5.red {
    background: red;
    color: white;
}




.borderlist {
    border-bottom: 1px solid gray;
    padding: 10px 0;
}
.container.displayList.columnList .displayElement{
    width: 31%;
    margin-right: 2%;
    float: left;
    height: 300px
}




/*ANGULAR JS TOAST*/
md-toast.ng-scope._md.md-default-theme {
    position: fixed;
    right: 5%;
    top: 5%;
    z-index: 1;
    transition: .4s!important;
}
.md-toast-content {
    padding: 15px 50px 15px 15px;
    border-radius: 10px;
}



/*ANGULAR JS UI SELECT*/
div.ui-select-match.ng-scope {
    border: 1px solid gray;
    border-radius: 5px;
}



/*ANGULAR JS UI MULTIPLE SELECT*/
span.ui-select-match-item.btn.btn-default.btn-xs {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 4px;
}




/*ANGULAR UI SELECT MULTIPLE SELECTION*/
input.ng-invalid.ng-invalid-email.ng-valid-email-add.ng-invalid-email-remove{
    border: 1px solid brown;
    background: red;
    color: white;
}